<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CBC15071BCF9593002F7BD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBC151B1BCF9593002F7BD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBC15261BCF9593002F7BD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
